
.overview {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.blog-post-list {
    list-style: none;
    padding: 0;
}

.blog-post-item {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.blog-post-item a {
    text-decoration: none;
    color: #38E991;
    font-weight: bold;
}
.blog-post-item a:hover {
    text-decoration: underline;
}
.blog-post-item p {
    margin: 5px 0;
    font-size: 14px;
    color: #888;
}